html, body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #FFF;
	font-family: 'Play', sans-serif;
}

img {
  width: 250;
  height: 164;
}

#navigation a:hover {
	color: blue;
} 

#content-wrapper {
	width: 80%;
	min-width: 750px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#content {
	float: left;
	width: 60%;
}

#copyright {
	margin:11px 0 0 0;
	font-size:11px;
	text-align:center;
	color:#888;}
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.fontawesomeicon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.Twitter::before {
   font: var(--fa-font-brands);
    content: ' \f099';
}

.social-footer {
  padding: 1rem;
  background: $dark-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .social-footer-icons {
    li:last-of-type {
      margin-right: 0;
    }

    .fa {
      font-size: 1.3rem;
      color: $white;

      &:hover {
        color: darken($dark-gray, 25%);
        transition: color 0.3s ease-in;
      }
    }
  }
}

